
<div class="navbar-body">

  <ul>
    <li><%= link_to "Home", root_path, class: "dunno" %></li>
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Matchup", matches_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>

</div>
